<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css"> 

    <head>
        <meta charset="utf-8">
        <title>VoltLocker</title>
        <link rel="icon" type="image/x-icon" href="graphics/favicon.ico">
        
    </head>

    <body>
        <div class="centering">
            <a href="index.html"><img src="graphics/VoltLocker_Logo.jpg" alt="VoltLocker_Logo" style="max-height:25vmax"></a><br>
            <h1>Register Below</h1>

            <!--form still used for input formatting-->
            <form id="registerFormID" autocomplete="off">
                <!--{% csrf_token %}-->
                <label for="fname">First Name:</label><br>
                <input type="text" id="inputFname" pattern="([a-z]|[A-Z])+" name="fname" placeholder="Enter First Name..." required size="60vw" maxlength="50">
                <br><br>
                <label for="lname">Last Name:</label><br>
                <input type="text" id="inputLname" pattern="([a-z]|[A-Z])+" name="lname" placeholder="Enter Last Name..." required size="60vw" maxlength="50">
                <br><br>
                <label for="sID">Student ID #:</label><br>
                <input type="text" id="inputSid" pattern="[0-9]+" name="sID" placeholder="Enter Student ID..." required minlength="9" maxlength="9" size="40vw">
                <br><br>
                <button type="submit">Submit</button>
            </form>
        </div> 
         
        <script src="enterInfoReg.js" type="module"></script>
        
    </body>
</html>
